/.cache
/.vscode
/node_modules
/public/mix-manifest.json
/public/hot
/public/img
/public/docs/*
/public/fonts
/public/js
/public/css
/public/fonts
/public/storage
/storage/*.key
/vendor
/laradock/*
/laradock
/app/storage/
/resources/docs/
.env
.phpunit.result.cache
yarn-error.log
npm-debug.log
!/public/docs/collection.json
/storage/logs/*
composer.lock
