/.cache
/.vscode
/node_modules
/storage/*.key
/vendor
/laradock/*
/laradock
/app/storage/
/resources/docs/
.env

yarn-error.log
npm-debug.log
!/public/docs/collection.json
/storage/logs/*
composer.lock
